<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Test">
	<group name= "group test">
	
	</group>
		<classes>
			<class name="test.AlertBoxTest" />
			<class name="test.BootstrapDatePickerTest" />
			<class name="test.DownloadProgressTest" />

		</classes>
	</test>
</suite>